* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-color: #ffffff;
}

.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #24a2f7;
}

.header h1 {
    font-size: 40px;
    display: inline-block;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:red
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.wrapper-main {
    width: 1000px;
    margin: 0 auto;
}
h2 {
    font-size: 40px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    
}

p {

    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 20px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px;
    color: #fff;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    flex: 0 0 0px;
    box-shadow: 10px 10px 5px #aaa;
    margin: 30px;
}

.card header {
padding: 20px;
font-size: 40px;
font-weight: bold;
color: #ffffff;
background-color: #24a2f7;
}

.card header:hover {
color: red;
}

.card img {
    width: 100%;
    min-width: 400px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaa;
    margin: 20px;
    display: flex;
    align-items: flex-start;
}

.card p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #24a2f7;
    font-size: 20px;
    font-weight: bold;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
}

footer {
    padding: 50px;
    background-color: #24a2f7;
}

.footer h1 {
    font-size: 40px;
    color:#ffffff;
}

.footer div {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer div ul {
    list-style-type: none;
}

.footer div ul li {
    display: inline-block;
    margin-left: 25px;

}